<p><center><font size="7"><strong>Welcome, {{username}}!</strong></font></center></p>
<p><center><font size="5">You currently have <strong><code>{{balance}}</code> EUR</strong> in your bank account.</font></center></p>
<p><center><font size="5">Use the form below to transfer funds to another account.</font></center></p>
<form action="/transfer" method="GET"><center>
	<div>
		<label><font size="5">Send funds to account: <input type="text" name="to" value=""></font></label>
	</div>
	<br>
	<div>
		<label><font size="5">Amount (EUR): <input type="text" name="amount" value=""></font></label>
	</div>
	<br>
	<div>
		<input type="submit" value="Transfer">
	</div></center>
</form>

<style>
	body {
	  background-image: url('https://img.freepik.com/premium-vector/banking-business-banner-finance-savings-silhouette-city-background_48369-11851.jpg?w=2000');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	</style>
