<form action="/login" method="POST">
	<p><center><font size="5"><strong>Please use the following form to login.<center><font></strong></p>
	<div>
		<label>Username: <input name="username" type="text" value="" autofocus></label>
	</div>
	<br>
	<div>
		<label>Password: <input name="password" type="password" value=""></label>
	</div>
	<br>
	<div>
		<input type="submit" value="Login">
	</div>
</form>

<style>
	body {
	  background-image: url('https://previews.123rf.com/images/watcharakongton/watcharakongton1807/watcharakongton180700215/105041880-global-network-connection-world-map-abstract-technology-background-global-business-innovation.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	</style>